{% extends 'core/base.html' %}
{% load static %}

{% block login %}

<div class="mx-auto" style="margin-top: 100px; width: 500px;" ;>
    <form action="{% url 'login' %}" method="POST" class="form-horizontal" enctype="multipart/form-data" >
        {% csrf_token%}
        <div class="col-sm-8 col-sm-offset-4">
            <h2 style="text-align:center;">Sign Up</h2>
        </div>
        <div class = "success" style="color:    red;">
            {% if messages %}
            {% for message in messages %}
            <p>{{message}}</p>
            {% endfor %}
            {% endif %}
        </div>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="uname" name="username" value="">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="Password" name="password" placeholder="Password">
        </div>
        
        <input type="submit"  class = "btn btn-primary" value="Login">
    </form><br>     
        
        <small>Don't you have an account ?</small>
        <a href="{% url 'signup' %}">Create Account</a>
    
</div>
{% endblock login %}
