{% extends 'core/base.html' %}
{% load static %}

{% block titlepage %}

	<!-- Title page -->
	<section class="bg-img1 txt-center p-lr-15 p-tb-25" style="margin-top: 85px ; background-image: url('{% static 'images/origami-banner.png' %}');">
		<h2 class="ltext-105 cl0 txt-center">
			Profile Page
		</h2>
	</section>	
{% endblock titlepage %}

{% block content%}
<div class="container my-5">
	<div class="row">
		<h3>Welcome User to your Profile !</h3><br>
		<div class="col-sm-2 border-end">
			<ul class= "list-unstyled">
		 		<li class= "d-grid"><a href= "#" class= "btn btn-primary">Profile</a></li>
		 		<li class= "d-grid"><a href= "#" class= "btn btn-secondary">Address</a></li>
			</ul>
		</div>
	</div>
</div>
{% endblock content%}

{% block login %}
<div class="mx-auto" style="margin-top: 100px; width: 500px;" ;>
    <form action="" method="post" class="form-horizontal">
        <h1>This is User Detail Information</h1>
    </form>
</div>
{% endblock login %}