{% extends 'core/base.html' %}
{% load static %}

{% block signup %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'cores/css/style.css' %}"> -->

<div class="mx-auto" style="margin-top: 100px; width: 500px;" ;>
    <form action="" method="POST" class="form-horizontal" novalidate>
        {% csrf_token%}
        <div class="col-sm-8 col-sm-offset-4">
            <h2 style="text-align:center;">Sign Up</h2>
        </div> 
        <div>
            {% for fm in form %}
            {{fm.label_tag}} {{fm}} {{fm.errors|striptags}}<br>
            {% endfor %}
        </div>
        <input type="submit" class="btn btn-success" value="Submit"><br>
        
        <small><a href="{% url 'login' %}">Back to login</a></small>
</form>
{% if messages %}
    {% for message in messages %}
    <small {% if message.tags %} class="{{message.tags}}" {% endif %}>{{message}}</small>
    {% endfor %}
    {% endif %}
    <br>
</div>
    
    
{% endblock signup %}


    
